@model RoomFlow.Models.Employee

@{
    ViewData["Title"] = "Информация о сотруднике";
}

<h1>Информация о сотруднике</h1>
<hr />

<dl class="row">
    <dt class="col-sm-3">ФИО</dt>
    <dd class="col-sm-9">@Model.FullName</dd>

    <dt class="col-sm-3">Должность</dt>
    <dd class="col-sm-9">@Model.Position</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3">Телефон</dt>
    <dd class="col-sm-9">@Model.Phone</dd>

    <dt class="col-sm-3">Оклад</dt>
    <dd class="col-sm-9">@Model.Salary.ToString("C")</dd>

    <dt class="col-sm-3">Дата найма</dt>
    <dd class="col-sm-9">@Model.HireDate.ToShortDateString()</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактировать</a>
<a asp-action="Index" class="btn btn-secondary">Назад</a>
